# Redirect everything to public folder
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Force HTTPS
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [L,R=301]

    # Force WWW
    RewriteCond %{HTTP_HOST} ^quarkcars\.com [NC]
    RewriteRule ^(.*)$ https://www.quarkcars.com/$1 [L,R=301]

    RewriteCond %{REQUEST_URI} !^/public
    RewriteRule ^(.*)$ public/$1 [L]

    # Block sensitive folders
    RewriteRule ^(vendor|storage|app|bootstrap|config|database|resources|routes|tests)(.*)$ - [F,L]

    # Block sensitive files
    RewriteRule ^(.env|artisan|composer.*|package.*|phpunit.*|webpack.*)$ - [F,L]
</IfModule>
